/* Style for small screens */
header {
	display: flex;
	align-items: center;
	height: 200px
}
.logo {
	height: 70%;
	width: 50%;
}

.header-span {
	font-style: italic;
	height:70%;
	margin-top: 60%;
}

.home-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}




/* Style for medium screens */




/* Style for large screens */