/* Style for small screens */
header {
	display: flex;
	align-items: center;
	height: 200px
}
.logo {
	height: 70%;
	width: 50%;
	align-self: last baseline;
}

.header-span {
	font-style: italic;
	align-self:last baseline


}

.welcome {
	display: flex;
	flex-direction: column;
	margin: 3rem 3rem;
font-size: larger;
	text-align: center;
}

.admin-btn {
	width: 100px;
	align-self: center;
	margin-top: 5px;
	cursor: pointer;
}

.home-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}


.admin {
	display: flex;
	flex-direction: column;
}




/* Style for medium screens */




/* Style for large screens */